@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0F0E0E;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #8B9A46;
    --cor-hover: #541212;

    --fonte-principal: krona one, sans-serif;
    --fonte-secundaria: montserrat, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;    
}

.apresentacao{ 
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--cor-primaria);
    
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto{
    font-size: 1.5rem;
    font-family: var(--cor-secundaria);
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-titulo-dolink {
    font-family: var(--cor-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao-link-navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); /* cor borda */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);  /* cor letra */
    font-family: var(--cor-secundaria);
}

.apresentacao-link-link:hover {
    background-color: var(--cor-hover); /* cor link */
}

.apresentacao-imagem {
    width: 50%;
}

.desenvolvedor{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 13px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* todo lugar que ter font-size mudar para rem e width para 50%*/


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }

}